* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;  
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}


/* MENU */
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
}


/* Botão do MENU Responsivo */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* CSS SANTRI */
.cor-fonte-padrao {
  /*color: #9c1d1c;*/
  color: #23232e;
}

.w3-theme {
    color:#fff !important;
    background: #23232e !important;
    border-radius: 5px;
}


/* Page LOGIN */
#login {
  max-width: 95%;
  margin: auto;
  width: 380px;
  margin-top: 5%;
}

#logo-cliente {
  max-width: 100%;
  margin: auto;
  width: 700px;    
}

#logo-santri {
  max-width: 35%;
  margin: auto;
  width: 380px;    
}


/* Page PESQUISA */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}


/* MENU MOBILE */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Botão fechar do MENU Responsivo */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}